
 <%= form_for(@post,url:'/posts/',method: :post) do |f| %>
   <div>
    <p>■写真選んでね</p>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.text_area :description, placeholder: 'キャプションを書く', :size =>"20×10" %>
  </div>
  <div>
      <%= f.submit '投稿する' %>
  </div>
<% end %>
